.Cases
{
	max-width : 1250px;
	margin    : 0 auto;
	padding   : 100px 0;
	position  : relative;
	h2
	{
		text-align : center;
	}
	.Previous
	{
		left : 0;
		svg
		{
			transform      : rotate(-90deg);
			-moz-transform : rotate(-45deg);
		}
	}
	.Next
	{
		right : 0;
		svg
		{
			transform      : rotate(90deg);
			-moz-transform : rotate(45deg);
		}
	}
	.Previous, .Next
	{
		position         : absolute;
		top              : calc(50% - 32px);
		cursor           : pointer;
		padding          : 20px;
		transform-origin : center;
		z-index          : 1;
		svg
		{
			width    : 44px;
			height   : 44px;
			fill     : #777;
			overflow : visible;
		}
	}
	@at-root .Slider
	{

		position  : relative;
		max-width : 990px;
		margin    : 0 auto;
		height    : 750px;

		li
		{
			position   : absolute;
			display    : table;
			width      : 100%;
			height     : 100%;
			text-align : center;
			background : url("../img/bg-autoban.jpg") no-repeat center / contain;
		}

		@at-root .Slide-Info
		{
			display        : table-cell;
			vertical-align : middle;
			padding-top    : 50px;

			@at-root .Slide-Head
			{
				@extend %Uppercase;
				@extend %Unselectable;
				color       : #222;
				font-family : 'Calibri', 'Open Sans', sans-serif;

				h2
				{
					display     : block;
					text-align  : center;
					font-weight : bold;
					font-size   : 75rem;
				}

				small
				{
					display   : block;
					font-size : 35rem;
				}

				svg
				{
					width  : 170px;
					height : 170px;
				}

			}

		}
		@at-root .Slide-Footer
		{
			display : table-footer-group;
			h3
			{
				font-size     : 20rem;
				margin-bottom : 30px;
			}

			a
			{
				color : #1a64a9;
				&:hover
				{
					span
					{
						@extend %Std-Transition;
						border-bottom : 1px solid transparent;
					}
				}
			}

			span
			{
				@extend %Std-Transition;
				border-bottom  : 1px solid #1a64a9;
				color          : #1a64a9;
				font-size      : 16rem;
				margin-right   : 10px;
				padding-top    : 5px;
				vertical-align : top;
			}

			svg
			{
				width          : 16px;
				height         : 16px;
				vertical-align : top;
			}
		}
	}

}

.Services-Wrap
{
	padding          : 90px 0;
	background-color : #e9e9e9;
	@at-root .Services
	{
		max-width  : 1300px;
		margin     : 0 auto;
		text-align : center;
		@at-root .Services-List
		{
			font-size  : 0;
			margin-top : 70px;
			li
			{
				display        : inline-block;
				width          : 33.333%;
				vertical-align : top;
				margin-bottom  : 50px;

				@at-root .Service
				{
					position         : relative;
					max-width        : 300px;
					height           : 400px;
					overflow         : hidden;
					margin           : 0 auto;
					background-color : white;
					box-shadow       : 0 5px 30px 0 rgba(0, 0, 0, 0.1), 0 2px 5px 0 rgba(0, 0, 0, 0.1);
					.Landing
					{
						height     : 185px;
						background : url("../img/bg-landing.jpg") no-repeat center / cover;
					}

					.Cutaway
					{
						height     : 185px;
						background : url("../img/bg-cutaway.jpg") no-repeat center / cover;
					}

					.Corporal
					{
						height     : 185px;
						background : url("../img/bg-corporal.jpg") no-repeat center / cover;
					}

					.Catalogue
					{
						height     : 185px;
						background : url("../img/bg-catalogue.jpg") no-repeat center / cover;
					}

					.Service
					{
						height     : 185px;
						background : url("../img/bg-service.jpg") no-repeat center / cover;
					}

					.Shop
					{
						height     : 185px;
						background : url("../img/bg-shop.jpg") no-repeat center / cover;
					}

					.Style
					{
						height      : 185px;
						text-align  : center;
						padding-top : 80px;
						svg
						{
							width  : 233px;
							height : 55px;
						}
					}

					.Text
					{
						overflow   : hidden;
						text-align : center;
						padding    : 15px 20px 0;
					}

					.Hr
					{
						width            : 50px;
						height           : 2px;
						margin           : 10px auto;
						background-color : #e2e2e2;
					}

					@at-root .Hr-Down
					{
						position         : absolute;
						bottom           : 0;
						left             : calc(50% - 25px);
						width            : 50px;
						height           : 15px;
						margin           : 0 auto;
						background-color : #e2e2e2;
					}
				}

			}

		}

	}

}
