html
{
	font-size   : 1px;
	font-family : 'Roboto', sans-serif;
}

body
{
}

input, button, textarea
{
	&:focus
	{
		outline : none;
	}

}

input, textarea
{
	font-weight : bold;
}

a
{
	text-decoration : none;
}

button
{
	border     : none;
	cursor     : pointer;
	padding    : 0;
	background : none;
}

h1
{
	font-size   : 40rem;
	font-weight : 300;
}

h2
{
	font-size   : 40rem;
	font-weight : 300;
	color       : #222;
}

h3
{
	font-size   : 20rem;
	line-height : 25rem;
}

h4
{
	font-size : 20rem;
}

h5
{
}

h6
{
}

p
{
	font-size   : 14rem;
	line-height : 20rem;
	color       : #222;
}

span
{
	font-size   : 14rem;
	line-height : 20rem;
}

dt, dd, span, li
{
}

li
{
	font-size : 16rem;
}

dt
{
	font-size   : 14rem;
	line-height : 25rem;
}

dd
{
	font-size   : 14rem;
	line-height : 25rem;
	font-weight : 300;
}

span
{
}

main
{
}

.Main-Sprite
{
	display    : none;
	opacity    : 0;
	visibility : hidden;
}




