.Site-Footer
{
	display          : table;
	width            : 100%;
	background-color : rgba(0, 0, 0, .95);
	padding          : 100px;

	@include Adaptive('>=desktop')
	{
		height : 100vh;
	}

	footer
	{
		@extend %Wrapper;
		display        : table-cell;
		vertical-align : middle;
		max-width      : 400px;
		margin         : 0 auto;
		text-align     : center;
		color          : #fff;
	}
	.Go-Top
	{
		display       : table-header-group;
		text-align    : center;
		margin-bottom : 200px;
		cursor        : pointer;
		height        : 10%;
		svg
		{
			width  : 26px;
			height : 20px;
			fill   : white;
		}
		span
		{
			text-transform : lowercase;
			display        : block;
			color          : #fff;
		}
	}
	.Logo
	{

		svg
		{
			width  : 300px;
			height : 110px;
			fill   : white;
		}
	}
	.Nav
	{
		display : table;
		margin  : 35px auto;
	}
	li
	{
		display    : table-cell;
		text-align : center;
		padding    : 15px;
		font-size  : 14rem;
		&:hover
		{
			button
			{
				@extend %Std-Transition;
				border-bottom : 1px solid white;
			}
		}
	}
	button
	{
		@extend %Std-Transition;
		color         : white;
		border-bottom : 1px solid transparent;
	}
	.Routine, .Copyright
	{
		text-align : center;
	}
	.Routine
	{
		display : table;
		margin  : 0 auto;
		&:hover
		{
			a
			{
				background-color : #fff;
				transform        : rotateX(180deg);
				transform-origin : center;
				span
				{
					transform        : rotateX(180deg);
					transform-origin : center;
					color            : #000;
				}

			}

		}

		a
		{
			transition    : all ease-out .2s;
			display       : inline-block;
			border-radius : 20px;
			border        : 2px solid #fff;
			font-weight   : 500;
			padding       : 10px 25px;

			span
			{
				transition : all ease-out .2s;
				display    : inline-block;
				color      : #fff;
				font-size  : 14rem;
			}
		}

	}
	.Copyright
	{
		display : table-footer-group;
		color   : white;
	}

}