.Header-Wrap
{
	filter     : progid:DXImageTransform.Microsoft.gradient(startColorstr='#1a64a9', endColorstr='#5e9dea', GradientType=0);
	background : url("/img/bg-header.png") no-repeat center / cover, linear-gradient(to bottom, #1a64a9 0%, #5e9dea 100%);
	display    : table;
	height     : 600px;
	width      : 100%;

	@include Adaptive('>=desktop')
	{
		height : 100vh;
	}
	@at-root .Header
	{
		display : table-header-group;
		height  : 10%;
		@at-root .Site-Header
		{
			@extend %Wrapper;
			display : table;
			width   : 100%;
			padding : 50px;
			.Logo
			{
				display        : table-cell;
				width          : 160px;
				vertical-align : middle;
				fill           : white;
				svg
				{
					width  : 160px;
					height : 60px;
				}
			}

			.Nav
			{
				@extend %Unselectable;
				display        : table-cell;
				vertical-align : middle;
				ul
				{
					display     : table;
					margin-left : auto;
				}
				li
				{
					display        : table-cell;
					vertical-align : middle;

					a, button
					{
						@extend %Std-Transition;
						display       : inline-block;
						color         : #fff;
						font-weight   : 500;
						font-size     : 14rem;
						padding       : 10px 25px;
						margin        : 0 10px;
						border        : 2px solid transparent;
						border-radius : 20px;
					}
					&:hover
					{

						a, button
						{
							@extend %Std-Transition;
							border : 2px solid #4a85bd;
							color  : white;
						}

					}
				}
				.To-Routine
				{

					a
					{
						position      : relative;
						display       : block;
						border-radius : 20px;
						border        : 2px solid #4a85bd;
						span
						{
							display : inline-block;
						}
					}
					&:hover
					{

						a
						{
							transform-origin : center;
							transform        : rotateX(180deg);
							background-color : #4a85bd;
							span
							{
								transform-origin : center;
								transform        : rotateX(-180deg);
							}

						}

					}

				}
			}
		}
	}

	@at-root .Header-Title
	{
		display        : table-cell;
		vertical-align : middle;
		text-align     : center;
		color          : #fff;
		h1
		{
			margin-bottom : 55px;
		}

		@at-root .Go-Cases
		{
			transition : all ease-out .2s;
			display    : inline-block;
			&:hover
			{
				transition : all ease-out .2s;
				button
				{
					transform        : rotateX(180deg);
					background-color : #4a85bd;
					border           : 2px solid #4a85bd;
				}
				span
				{
					transform : rotateX(180deg);
				}

			}

			button
			{
				@extend %Form-Rounded;
				color       : white;
				font-size   : 16rem;
				font-weight : bold;
				border      : 2px solid #659ad5;
				position    : relative;
				padding     : 10px 20px;
				transition  : all ease-out .2s;
			}

			span
			{
				transition       : all ease-out .2s;
				display          : inline-block;
				transform-origin : center;
			}

		}
		@at-root .Go-Scroll
		{
			display        : table-footer-group;
			height         : 10%;
			vertical-align : bottom;
			text-align     : center;


			svg
			{
				transform-origin : center;
				width            : 32px;
				height           : 40px;
				fill             : white;
				padding          : 20px;
				cursor           : pointer;
				margin-bottom    : 80px;
			}

		}

	}
}